<!-- Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341-->

<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
      </ion-buttons>
      <ion-title>Chicken tikka masala Slow cooker</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding">
     
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
          offset-xl="4">
          <ion-card>
          <ion-card-content>
            <ion-header class="ion-text-center" class="larger">Chicken tikka masala <br>(Slow cooker)</ion-header>
              <br><img src="/assets/tikka.jpg" alt="" /><br>
  
    <ion-item>
    <ion-label>Preparation time: 0:20<br></ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Cooking time: 4:30 - 7:30<br></ion-label>
    </ion-item>
    <ion-item><br>
        Ingredients: <br><br> 
        * 8-12 boneless, skinless chicken thighs, each cut into 3 chunks<br>
        * 2 tbsp veg or rapeseed oil<br>
        * 1 large onion, chopped<br>
        * 2 garlic cloves, crushed<br>
        * thumb-sized piece ginger, finely grated or chopped<br>
        * 3 tbsp tikka curry paste<br>
        * 500ml passata<br>
        * 1 tbsp tomato purée<br>
        * 1 tbsp malt vinegar<br>
        * 1 tbsp light brown soft sugar<br>
        * 1 cinnamon stick<br>
        * 5 cardamom pods<br>
        * 100ml double cream<br>
        * handful chopped coriander<br>
        * cooked basmati rice, lime wedges and naan bread, to serve (optional)<br><br>

    </ion-item>
    <ion-item><br>
        Method: <br><br>
        1. 
        Heat the slow cooker. Season the chicken, <br>
        then put the oil in a wide frying pan and, once hot, <br>
        add the chicken. Don’t overcrowd the pan – you may <br>
        want to do this in batches. Cook over a high heat <br>
        until the chicken is browned, then transfer it to <br>
        the slow cooker. Add the onion, garlic and ginger <br>
        to the pan and cook for a few mins until softened. <br>
        Add a splash of water and scrape any bits from the <br>
        bottom of the pan, then tip everything into the slow <br>
        cooker.<br><br>
        2. 
        Add the remaining ingredients, except the cream and <br>
        coriander, then season well and cover with a lid. <br>
        Cook on low for 5-7 hrs or on high for 4-5 hrs.<br><br>
        3. 
        Add the cream and check the seasoning, adding more <br>
        vinegar, sugar or salt if needed. Cook for another <br>
        10-15 mins until hot. Ladle between bowls and garnish <br>
        with the coriander. Serve with rice, naan bread and <br>
        lime wedges, if you like.<br><br>

    </ion-item>

  </ion-card-content>
  </ion-card>
  
  </ion-col>
  </ion-row>
  
  <ion-card>
    <ion-card-content>
  
  <!-- Adjust here for timer durations into days for example-->
  <ion-item>
    <ion-label>Timer Duration</ion-label>
  <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
  <!-- displays time elapsed-->
  <div class ="progress-wrapper" >
    <div class="progress">
      {{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}
    </div>
  </div>
  
    <!-- Circle progress HTML for timer-->
    <circle-progress class="progress-clock" (click)="startTime()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [showTitle]="false"  
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#ffb8b8'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#d40000'"
    [backgroundStrokeWidth]="3"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#d40000'"
    [showInnerStroke]="false"
  ></circle-progress>
  
  <br><br>
  
  <!-- buttons to start and stop timer-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTime()">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>
    </ng-container> 
    <ng-template #running>
        <ion-fab-button (click)="StopTime()">
            <ion-icon name="square"></ion-icon>
          </ion-fab-button>
    </ng-template>
  </ion-fab>
  
    </ion-card-content>
  </ion-card>

  </ion-content>
  