<!-- Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341-->

<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
      </ion-buttons>
      <ion-title>Classic spaghetti</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding">
     
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
          offset-xl="4">
          <ion-card>
          <ion-card-content>
            <ion-header class="ion-text-center" class="larger">Classic spaghetti</ion-header>
              <br><img src="/assets/spaghetti.jpg" alt="" /><br>
  
    <ion-item>
    <ion-label>Preparation time: 0:30<br></ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Cooking time: 0:30<br></ion-label>
    </ion-item>
    <ion-item><br>
        Ingredients: <br><br> 
        * 1 medium onion<br>
        * 3 tbsp olive oil<br>
        * 2 garlic cloves, peeled and crushed<br>
        * 400g tin chopped tomatoes<br>
        * 20g pack basil leaves, chopped<br>
        * 400g dried spaghetti (roughly three quarters of a 500g pack)<br>
        * 1x 150g ball mozzarella<br><br>
        
    </ion-item>
    <ion-item><br>
        Method: <br><br>
        1. 
        Using a sharp knife, peel the onion, slice in half through <br>
        the root and trim off the top. Place the onion, cut-side <br>
        down, on a chopping board. With your knife parallel to <br>
        the board, cut 3 slices through the onion, keeping the <br>
        root intact. With knife point at root end, cut down <br>
        through the onion, from top to bottom 4 times. Holding <br>
        the root end, finely slice across the onion <br>
        (see pic above), to give you small diced pieces.<br><br>
        2. 
        Set a large frying pan over medium heat and when hot, <br>
        tip in the oil then onion. Cook for 5 mins until starting <br>
        to soften, stirring occasionally. Add the garlic, cook 2 <br>
        mins more until the onions start to turn golden. When the <br>
        onion has softened, tip in the tomatoes and half the basil. <br>
        Leave to gently bubble for 15 mins until the sauce has <br>
        thickened and looks pulpy. Stir occasionally and break up <br>
        any large clumps of tomato with the back of your spoon.<br><br>
        3. 
        Pour water 3/4 of the way up your largest pan. Heat over <br>
        a high heat and add plenty of salt. When water has <br>
        reached a rolling boil, place the spaghetti into the <br>
        pan. As it softens, use your hands to push all of it <br>
        into the water. Give it a stir to separate the pasta, <br>
        then cook according to pack instructions, about 10 mins. <br>
        Taste a strand of pasta. It should be just soft, but <br>
        not mushy. Scoop out a cup of water before draining <br>
        in a colander (this will help to loosen your sauce).<br><br>
        4.  
        Finishing touches: Tip the drained pasta back into its <br>
        cooking pan, then pour over the tomato sauce. Give <br>
        everything a good stir. The sauce should just coat the <br>
        pasta, if it is thick and looks dry, stir in a few <br>
        spoons of the pasta water. If it is watery, cook over <br>
        a low heat until evaporated, stirring often. Use your <br>
        hands to break the mozzarella into chunky pieces and <br>
        stir through the pasta along with the remaining basil <br>
        leaves. Serve straight away.<br><br>

    </ion-item>

  </ion-card-content>
  </ion-card>
  
  </ion-col>
  </ion-row>
  
  <ion-card>
    <ion-card-content>
  
  <!-- Adjust here for timer durations into days for example-->
  <ion-item>
    <ion-label>Timer Duration</ion-label>
  <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
  <!-- displays time elapsed-->
  <div class ="progress-wrapper" >
    <div class="progress">
      {{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}
    </div>
  </div>
  
    <!-- Circle progress HTML for timer-->
    <circle-progress class="progress-clock" (click)="startTime()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [showTitle]="false"  
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#ffb8b8'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#d40000'"
    [backgroundStrokeWidth]="3"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#d40000'"
    [showInnerStroke]="false"
  ></circle-progress>
  
  <br><br>
  
  <!-- buttons to start and stop timer-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTime()">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>
    </ng-container> 
    <ng-template #running>
        <ion-fab-button (click)="StopTime()">
            <ion-icon name="square"></ion-icon>
          </ion-fab-button>
    </ng-template>
  </ion-fab>
  
    </ion-card-content>
  </ion-card>

  </ion-content>
  