<!--Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341-->

<ion-app>
    <ion-split-pane>
      <!--  our side menu  -->
      <ion-menu>
        <ion-header>
            <ion-toolbar color="primary"> 
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>

      <!--  our side menu contents imported from app.component.ts -->
        <ion-content padding>
            <ion-list>
              <ion-menu-toggle *ngFor="let p of appPage">
                <ion-item [routerLink]="p.url" [routerDirection]="'root'">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>{{p.title}}</ion-label>
                </ion-item>
                
              </ion-menu-toggle>
            </ion-list>
          </ion-content>
        <ion-menu-toggle>
                <!--  external link button  -->
          <ion-button expand="block" color="danger" href="https://www.bbcgoodfood.com/">
            Recipes from our friends</ion-button>
                <!--  our extra log out button  -->
            <ion-button color="primary" (click)="logout()" expand="block">
                Log out
              </ion-button>
            </ion-menu-toggle>
      </ion-menu>
    
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>